.container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-bottom: 25px;
  }
}

textarea {
  width: 400px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  &:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #2b5fed;
    transition: all 0.3s ease;
  }
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #2b5fed;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

button {
  &:hover {
    background-color: #050847;
  }
}

h2 {
  margin-top: 20px;
}
